<div class = "row-above">
  <div class="row">
    <div class="large-10 large-centered columns">
      <h1>Subjekt s takovým IČO neexistuje</h1>
      <%= link_to 'nové hledání', new_company_path, :class => "button" %>
    </div>
  </div>
</div>