// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#seznam {
	padding-left:15px;
} 

#seznam li:nth-child(1) {
	display: none;
}

.row-above {
	margin: 200px auto;
}